# Pandas Exercises

Time to test your pandas skills! Use the csv file to complete the tasks in bold below!

** Import pandas and read in the banklist.csv file into a dataframe called banks. **

In [2]:
import pandas as pd

In [5]:
banks = pd.read_csv('banklist.csv')

** Show the head of the dataframe **

In [7]:
b=banks.head()
b

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,Fayette County Bank,Saint Elmo,IL,1802,"United Fidelity Bank, fsb",26-May-17,1-Jun-17
1,"Guaranty Bank, (d/b/a BestBank in Georgia & Mi...",Milwaukee,WI,30003,First-Citizens Bank & Trust Company,5-May-17,1-Jun-17
2,First NBC Bank,New Orleans,LA,58302,Whitney Bank,28-Apr-17,23-May-17
3,Proficio Bank,Cottonwood Heights,UT,35495,Cache Valley Bank,3-Mar-17,18-May-17
4,Seaway Bank and Trust Company,Chicago,IL,19328,State Bank of Texas,27-Jan-17,18-May-17

** What are the column names? **

In [15]:
b=banks.columns
b

Index(['Bank Name', 'City', 'ST', 'CERT', 'Acquiring Institution',
       'Closing Date', 'Updated Date'],
      dtype='object')

** How many States (ST) are represented in this data set? **

In [33]:
b=banks['ST'].nunique()
b

44

** Get a list or array of all the states in the data set. **

In [21]:
l=[]
l.append(banks['ST'].unique())
l

[array(['IL', 'WI', 'LA', 'UT', 'NJ', 'AR', 'GA', 'PA', 'TN', 'WA', 'CO',
        'PR', 'FL', 'MN', 'CA', 'MD', 'OK', 'OH', 'SC', 'VA', 'ID', 'TX',
        'CT', 'AZ', 'NV', 'NC', 'KY', 'MO', 'KS', 'AL', 'MI', 'IN', 'IA',
        'NE', 'MS', 'NM', 'OR', 'NY', 'MA', 'SD', 'WY', 'WV', 'NH', 'HI'],
       dtype=object)]

** What are the top 5 states with the most failed banks? **

In [35]:
top_5_states = banks['ST'].value_counts().head(5)
top_5_states

ST
GA    93
FL    75
IL    67
CA    41
MN    23
Name: count, dtype: int64

** What are the top 5 acquiring institutions? **

In [37]:
# Get the top 5 acquiring institutions
top_5_institutions = banks['Acquiring Institution'].value_counts().head(5)

print("Top 5 acquiring institutions:")
print(top_5_institutions)

Top 5 acquiring institutions:
Acquiring Institution
No Acquirer                            31
State Bank and Trust Company           12
First-Citizens Bank & Trust Company    11
Ameris Bank                            10
U.S. Bank N.A.                          9
Name: count, dtype: int64

** How many banks has the State Bank of Texas acquired? How many of them were actually in Texas?**

In [39]:
# Count how many banks were acquired by the State Bank of Texas
state_bank_acquisitions = banks[banks['Acquiring Institution'] == 'State Bank of Texas']

# Total number of banks acquired by State Bank of Texas
total_acquisitions = state_bank_acquisitions.shape[0]

# Count how many of those were in Texas
texas_acquisitions = state_bank_acquisitions[state_bank_acquisitions['ST'] == 'TX'].shape[0]

print(f"Total banks acquired by State Bank of Texas: {total_acquisitions}")
print(f"Banks acquired in Texas: {texas_acquisitions}")

Total banks acquired by State Bank of Texas: 3
Banks acquired in Texas: 1

** What is the most common city in California for a bank to fail in?**

In [41]:
# Filter the data for banks in California
california_banks = banks[banks['ST'] == 'CA']

# Get the most common city in California for a bank failure
most_common_city = california_banks['City'].value_counts().idxmax()

print(f"The most common city in California for a bank to fail in is: {most_common_city}")

The most common city in California for a bank to fail in is: Los Angeles

** How many failed banks don't have the word "Bank" in their name? **

In [43]:
# Filter the dataset for banks whose name doesn't contain the word "Bank"
banks_without_bank = banks[~banks['Bank Name'].str.contains('Bank', case=False, na=False)]

# Count how many such banks there are
count_without_bank = banks_without_bank.shape[0]

print(f"Number of failed banks without the word 'Bank' in their name: {count_without_bank}")

Number of failed banks without the word 'Bank' in their name: 10

** How many bank names start with the letter 's' ? **

In [60]:
# Filter the dataset for banks whose name starts with 'S'
banks_starting_with_s = banks[banks['Bank Name'].str.lower().str.startswith('s', na=False)]

# Count how many such banks there are
count_starting_with_s = banks_starting_with_s.shape[0]

print(f"Number of banks whose names start with the letter 's': {count_starting_with_s}")

Number of banks whose names start with the letter 's': 53

** How many CERT values are above 20000 ? **

In [62]:
# Filter the dataset for CERT values above 20000
cert_above_20000 = banks[banks['CERT'] > 20000]

# Count how many such rows there are
count_cert_above_20000 = cert_above_20000.shape[0]

print(f"Number of CERT values above 20,000: {count_cert_above_20000}")

Number of CERT values above 20,000: 417

** How many bank names consist of just two words? (e.g. "First Bank" , "Bank Georgia" )**

In [65]:
# Filter the dataset for bank names with exactly two words
two_word_banks = banks[banks['Bank Name'].str.split().str.len() == 2]

# Count how many such banks there are
count_two_word_banks = two_word_banks.shape[0]

print(f"Number of banks with exactly two words in their name: {count_two_word_banks}")

Number of banks with exactly two words in their name: 114

How many banks closed in the year 2008?

In [69]:
# Ensure that the 'Closing Date' column is in datetime format
banks['Closing Date'] = pd.to_datetime(banks['Closing Date'], errors='coerce')

# Filter the dataset for banks closed in 2008
banks_closed_2008 = banks[banks['Closing Date'].dt.year == 2008]

# Count how many such banks there are
count_closed_2008 = banks_closed_2008.shape[0]

print(f"Number of banks closed in 2008: {count_closed_2008}")

Number of banks closed in 2008: 25

# GREAT JOB!