## Loading/Exploring the data

Load the iris.csv file into a pandas dataframe. Take a minute to familiarize yourself with the data.

## Import Pandas

Import the `pandas` library as `pd`

In [40]:
import pandas as pd

Read the `iris.csv` dataset into an object named `iris`

In [42]:
iris = pd.read_csv('iris 1.csv')

How many different species are in this dataset?

In [44]:
unique_species = iris['species'].unique()
species_count = len(unique_species)

print(f"There are {species_count} ")

There are 3

What are their names?

In [14]:
print(f"Species names: {unique_species}")

Species names: ['setosa' 'versicolor' 'virginica']

How many samples are there per species?

<details><summary>Hint</summary>Use the <a href="http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.value_counts.html"><code>.value_counts()</code></a> method</details>

In [24]:
species_counts = iris['species'].value_counts()
print("\nNumber of samples per species:")
print(species_counts)

Number of samples per species:
species
setosa        50
versicolor    50
virginica     50
Name: count, dtype: int64

## Feature Engineering

Create a new column called `'sepal_ratio'` which is equal to sepal width / sepal length

In [55]:
iris['sepal_ratio'] = iris['sepal_width (cm)'] / iris['sepal_length (cm)']

Create a similar column called `'petal_ratio'`: petal width / petal length

In [57]:
iris['petal_ratio'] = iris['petal_width (cm)'] / iris['petal_length (cm)']

Create 4 columns that correspond to `sepal length (cm)`, `sepal width (cm)`, `petal length (cm)`, and `petal width (cm)`, only in inches.

In [64]:
cm_to_inch = 0.393701
iris['sepal_length_in'] = iris['sepal_length (cm)'] * cm_to_inch
iris['sepal_width_in'] = iris['sepal_width (cm)'] * cm_to_inch
iris['petal_length_in'] = iris['petal_length (cm)'] * cm_to_inch
iris['petal_width_in'] = iris['petal_width (cm)'] * cm_to_inch

print(iris.head())

   sepal_length (cm)  sepal_width (cm)  petal_length (cm)  petal_width (cm)  \
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

  species  sepal_ratio  petal_ratio  sepal_length_in  sepal_width_in  \
0  setosa     0.686275     0.142857         2.007875        1.377954
1  setosa     0.612245     0.142857         1.929135        1.181103
2  setosa     0.680851     0.153846         1.850395        1.259843
3  setosa     0.673913     0.133333         1.811025        1.220473
4  setosa     0.720000     0.142857         1.968505        1.417324

   petal_length_in  petal_width_in
0         0.551181         0.07874
1         0.551181         0.07874
2         0.511811         0.07874
3         0.590552         0.07874
4         0.551181         0.07874

## Apply

Create a column called `'encoded_species'`:
- 0 for setosa
- 1 for versicolor
- 2 for virginica


Hint 1
Create a dictionary using the species as keys and the numbers 0-2 for values


Hint 2
    Use the dictionary in hint 1 with the <code>.apply()</code> method to create the new column

In [66]:

species_encoding = {
    'setosa': 0,
    'versicolor': 1,
    'virginica': 2
}

# Step 2: Use .apply() with the dictionary to create the new column
iris['encoded_species'] = iris['species'].apply(lambda x: species_encoding[x])

# Display the first few rows to verify
print(iris[['species', 'encoded_species']].head())

  species  encoded_species
0  setosa                0
1  setosa                0
2  setosa                0
3  setosa                0
4  setosa                0

## March Madness

Let's change up the dataset to something different than flowers: March Madness!

Read in the dataset `ncaa-seeds.csv` to an object named `seeds`.

This dataframe simulates the games that will occur in the first round of the [NCAA basketball tournament](http://www.sportingnews.com/au/ncaa-basketball/news/ncaa-tournament-2017-march-madness-bracket-schedule-matchups-print-a-bracket/1r6cau9sb1xj4131zzhay2dj5g). In the first row, you should see the following:

| team_seed | opponent_seed |
|-----------|---------------|
| 01N       | 16N           |

In [68]:
seeds = pd.read_csv('ncaa-seeds 1.csv')

print(seeds.head())

  team_seed opponent_seed
0       01N           16N
1       02N           15N
2       03N           14N
3       04N           13N
4       05N           12N

For team_seed, the 01 is their seed, and N is their division (North). This row is saying the 1st seed in the north division will play the 16th seed (same division).

Using the `.apply()` method, create the following new columns:
- `team_division`
- `opponent_division`

The first row of your result should look as follows:

| team_seed | opponent_seed | team_division | opponent_division |
|-----------|---------------|---------------|-------------------|
| 01N       | 16N           | N             | N                 |

In [70]:

seeds['team_division'] = seeds['team_seed'].apply(lambda x: x[-1])  # Last character of team_seed
seeds['opponent_division'] = seeds['opponent_seed'].apply(lambda x: x[-1])  # Last character of opponent_seed

# Display the first few rows of the updated DataFrame
print(seeds.head())

  team_seed opponent_seed team_division opponent_division
0       01N           16N             N                 N
1       02N           15N             N                 N
2       03N           14N             N                 N
3       04N           13N             N                 N
4       05N           12N             N                 N

Now that you have the divisions, change the `team_seed` and `opponent_seed` columns to just be the numbers.

The first row of your result should look as follows:

| team_seed | opponent_seed | team_division | opponent_division |
|-----------|---------------|---------------|-------------------|
| 1         | 16            | N             | N                 |

In [72]:
seeds['team_division'] = seeds['team_seed'].apply(lambda x: x[-1])  
seeds['opponent_division'] = seeds['opponent_seed'].apply(lambda x: x[-1])

seeds['team_seed'] = seeds['team_seed'].apply(lambda x: int(x[:-1]))  
seeds['opponent_seed'] = seeds['opponent_seed'].apply(lambda x: int(x[:-1]))  

print(seeds.head())

   team_seed  opponent_seed team_division opponent_division
0          1             16             N                 N
1          2             15             N                 N
2          3             14             N                 N
3          4             13             N                 N
4          5             12             N                 N

Create a new column called seed_delta, which is the difference between the team's seed and their opponent's. 

The first row of your result should look as follows:

| team_seed | opponent_seed | team_division | opponent_division | seed_delta |
|-----------|---------------|---------------|-------------------|------------|
| 1         | 16            | N             | N                 | -15        |

<br>
<details><summary>Did you get an error?</summary>
team_seed and opponent_seed need to be numerical columns in order for you to perform mathematical operations on them.
</details>

In [74]:
seeds['team_division'] = seeds['team_seed'].apply(lambda x: x[-1])  # Extract division
seeds['opponent_division'] = seeds['opponent_seed'].apply(lambda x: x[-1])  # Extract division

# Modify 'team_seed' and 'opponent_seed' to contain only the numeric portion
seeds['team_seed'] = seeds['team_seed'].apply(lambda x: int(x[:-1]))  # Remove last character and convert to int
seeds['opponent_seed'] = seeds['opponent_seed'].apply(lambda x: int(x[:-1]))  # Remove last character and convert to int

# Create the 'seed_delta' column as the difference between team_seed and opponent_seed
seeds['seed_delta'] = seeds['team_seed'] - seeds['opponent_seed']

# Display the updated DataFrame
print(seeds.head())

TypeError: 'int' object is not subscriptable